@import "tailwindcss";

html, body{
  min-height: 100%;
}

body{
  /* public 配下はルート参照になるので /bg.jpg にする */
  background-image: url('/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;}


